body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 62px;
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.sidebar {
  /* flex: 1 1 auto; */
  width: 10vh;
}

a {
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

li {
  padding: 5px;
  font-size: 15px;
}

.main-container {
  display: flex;
  flex: 2 0 auto;
  
}

.card-container {
  /* flex: 2 2 auto; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;

}

.card {
  font-size: 12px;
  width: 200px;
  /* height: 100px; */
  padding: 5px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}