body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 410px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin: 0;

}

.content {
  background: #e3f4ff;

}

.button {
  background: #e3f4ff;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px 15px;
  display: inline-block;
}

.card,
.card h1,
.card div {
    border: 5px white solid;
}

.title,
.content,
.button {
  padding: 10px;
}