* {
  /* box-sizing: border-box; */
  border: 1px red solid;
  font-family: monospace;
}

.navbar  {
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
}

ul {
  display: flex;
  justify-content: space-evenly;
  /* this removes the dots on the list items*/
  list-style-type: none;
}
a {
  /* font-size: 22px;
  background: white;
  padding: 8px; */
  /* this removes the line under the links */
  /* text-decoration: none; */
}

.nav {
  
}

.nav-left {
    flex-grow: 2;
}

.logo {
  /* font-size: 4em; */
  flex-grow: 1;
}

.nav-right {
  flex-grow: 2;
}



